body {
  font-family: 'Inter', sans-serif;
}

.img-background {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.img-band-card {
  width: 200px;
}

.img-local {
  width: 100%;
  height: 160px;
}

.text-contact {
  margin-bottom: .5rem;
}

.icon-contact {
  margin-right: .5rem;
}
